{
  "parser": "babel-eslint",
  "plugins": ["react", "flowtype"],
  "extends": [
    "airbnb",
    "plugin:react/recommended"
  ],
  "rules": {
    "arrow-parens": ["error", "always"],
    "react/sort-comp": "off",
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
